<div>
    <p>
        <label for="textoEntrada">Mensaje:</label>
        <input id="textoEntrada" type="text" alt="Introduce un mensaje">
    </p>
    <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>