.card-img-container {
    width: 100%;
    height: 200px; /* Altura fija para todas las imágenes */
    overflow: hidden; /* Oculta el contenido que excede el contenedor */
}
.card-img-top {
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor */
    width: 100%;
    height: 100%;
}
.vh-100 { 
    min-height: 100vh; 
} 
.card-custom { 
    border-radius: 15px; max-width: 400px; 
} 
.card-img-top-custom { 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    height: 250px; 
    object-fit: cover; 
} 
.btn-custom { 
    border-radius: 50px; 
}